.primary-button {
  padding: 13.5px 29px 13.5px 29px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.primary-button span {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.32em;
  letter-spacing: 0.7px;
}

.icon-left {
  margin-right: 5px;
}

.icon-right {
  margin-left: 5px;
}
