<!-- <app-info-card
  [headerTitle]="slide.headerTitle"
  [title]="slide.title"
  [description]="slide.description"
  [firstBtnIcon]="slide.firstBtnIcon"
  [firstBtnIconPosition]="slide.firstBtnIconPosition"
  [firstBtnText]="slide.firstBtnText"
  [secondBtnIcon]="slide.secondBtnIcon"
  [secondBtnIconPosition]="slide.secondBtnIconPosition"
  [secondBtnText]="slide.secondBtnText">
</app-info-card> -->
<div class="slider-container">
  <button type="button" title="btn-prev" class="slide-button prev" (click)="prevImage()">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
  <div class="image-container">
    <img
      [src]="images[currentImageIndex]"
      [alt]="'Image ' + (currentImageIndex + 1)"
      class="slide-image" />
  </div>
  <div class="card">
    <h3 class="card-title">Test</h3>
    <p class="card-content">this is a sample card</p>
  </div>
  <button type="button" title="btn-next" class="slide-button next" (click)="nextImage()">
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>
