<div class="slider-container">
  <app-slider-image-display
    [imageUrl]="currentSlide.image">
  </app-slider-image-display>

  @if (currentSlide.cardType === 'card1') {
    <ng-container>
      <div class="card">
        <h3 class="card-title">{{ currentSlide.headerTitle }}</h3>
        <p class="card-content">this is a sample card</p>
      </div>
    </ng-container>
  } @else if (currentSlide.cardType === 'card2') {
    <ng-container>
      <div class="card">
        <h3 class="card-title">{{ currentSlide.headerTitle }}</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio
          omnis ducimus, doloribus quisquam ipsam perferendis ea esse nulla
          veniam nemo possimus provident odit veritatis molestias, inventore
          eius at labore!
        </p>
      </div>
    </ng-container>
  } @else if (currentSlide.cardType === 'card3') {
    <ng-container>
      <div class="card">
        <h3 class="card-title">{{ currentSlide.headerTitle }}</h3>
        <p class="card-content">this is a sample card card 3</p>
      </div>
    </ng-container>
  }
  <app-slider-controls
    (previous)="prevImage()"
    (next)="nextImage()">
  </app-slider-controls>
</div>
