/* Component Styles */
.header-container {
  font-family: 'Hind', Sans-serif;
  padding: 14px 0 12px;
  background-color: var(--white-color);
}

.header-content {
  flex-wrap: wrap;
  width: 100%;
  max-width: clamp(300px, 90%, 1200px);
  margin: 0 auto;
}

.right-container {
  padding-right: 15px;
}

.header-quote-btn {
  margin-left: 30px;
}

.divider {
  height: 3em; /* Vertical line height */
  border-left: 1px solid #e0e0e0;
  margin: 0 25px; /* Space between the elements and the vertical line */
}

/* Media Queries */
@media (min-width: 48.0625em) and (max-width: 75em) {
}

@media (max-width: 48em) {
  .right-container {
    display: none;
  }

  .header-container {
    padding: 25px 15px;
  }

  .header-content {
    justify-content: center;
  }
}
