<section class="header-container">
  <div class="header-content flex-between">
    <!-- Logo -->
    <app-logo></app-logo>

    <!-- Información de soporte y horario -->
    <div class="right-container flex-center">
      <!-- Soporte al cliente -->
      <app-info-item
        icon="{{ supportInfo.icon }}"
        title="{{ supportInfo.title }}"
        description="{{ supportInfo.text }}">
      </app-info-item>

      <!-- Línea divisoria -->
      <div class="divider"></div>

      <!-- Horario de trabajo -->
      <app-info-item
        icon="{{ workingTimeInfo.icon }}"
        title="{{ workingTimeInfo.title }}"
        description="{{ workingTimeInfo.text }}">
      </app-info-item>

      <!-- Botón de solicitud -->
      <div class="header-quote-btn">
        <app-base-button
          icon="fa-regular fa-envelope"
          displaytext="{{ buttonText }}">
        </app-base-button>
      </div>
    </div>
  </div>
</section>
