.header-container {
  padding: 14px 0px 12px 0px;
  background-color: #FFF;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: clamp(300px, 90%, 1200px);
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.support-info i, .working-time-info i {
  margin-right: 10px;
  font-size: 29px;
  color: #ffc704;
  align-self: self-start;
}

.support-info, .working-time-info {
  display: flex;
  align-items: center;
  line-height: 1.443;
}

.support-text, .working-time-text {
  margin-left: 8px;
}

.support-title, .working-time-title {
  display: block;
  color: #6B7280;
  font-size: 13px;
  font-weight: 400;
}

.working-time-title {
  color: #5f656d;
}

.support-phone {
  font-family: "Hind", Sans-serif;
  color: #222931;
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.working-time-hours {
  display: block;
  font-family: "Hind", Sans-serif;
  color: #222931;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.request-quote {
  margin: 0px 0px 0px 30px;
}

.quote-button {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 13.5px 29px 11.5px 29px;
  background-color: #FFC704;
  font-weight: 600;
  text-decoration: none;
}

.quote-button span {
  font-family: "Hind", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.32em;
  letter-spacing: 0.7px;
}

.quote-button i {
  color: #FFFFFF;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
}

.quote-button:hover {
  background-color: #00274e;
}

.divider {
  height: 50px; /* Alto de la línea vertical */
  border-left: 1px solid #e0e0e0; /* Línea vertical */
  margin: 0 25px; /* Espacio entre los elementos y la línea */
}

@media (min-width: 769px) and (max-width: 1200px) {
  /* Estilos para tabletas en modo retrato */
  .request-quote {
    display: none
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .info-container {
    display: none
  }

  .header-content {
    justify-content: center;
  }

  .header-container {
    padding: 25px 15px;
  }
}