.navbar {
  background-color: #00274E;
}

.navbar-container {
  display: flex;
  width: 100%;
  max-width: clamp(300px, 90%, 1200px);
  margin: 0 auto;
}

.nav-links {
  font-family: "Hind", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 23.002px;
  letter-spacing: 0.56px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 14px 13px 13px 14px;
  gap: 28px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  transition: all .3s ease;
}

.nav-link:hover {
  color: #FFC704;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 205px;
  background-color: #00274E;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: #FFC704;
  padding: 20px 20px 20px 20px;
  margin: 0px 0px 0px 0px;

}

.dropdown-item {
  display: block;
  font-family: "Open Sans", Sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  transition: all .3s ease;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  color: #FFC704;
}

.dropdown-toggle i {
  font-size: 10px;
  margin-left: 6px;
  font-weight: bold;
}

/* Hamburger menu (visible on mobile) */
.hamburger {
  display: none;
}

.hamburger-btn {
  border: none;
  background: none;
  color: #FFFFFF;
  font-size: 900;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00274E;
  list-style: none;
  z-index: 1000;
  /* Asegurarte de que el menú esté por encima de otros elementos */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.mobile-menu .top-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 35px;
}

.close-btn {
  font-size: 15px;
  line-height: 24.65px;
  border: none;
  background: none;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 400;
  min-width: 30px;
  min-height: 30px;
}

.close-btn i {
  font-size: 14px;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  font-family: "Hind", Sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
  color: #FFFFFF;
  letter-spacing: 0.56px;
  padding: 0;
  margin: 0;
}

.mobile-nav-links li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px 0;
}

.mobile-dropdown a {
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
}

.info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.navbar .support-info{
  display: flex;
  justify-content: center;
}

.navbar .support-info, .navbar .working-time-info {
  padding: 5px 0;
  margin-bottom: 15px;
}

.navbar .support-info, .navbar .working-time-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .info-container i {
  margin-bottom: 10px;
  font-size: 29px;
  color: #ffc704;
}

.navbar .support-title, .navbar .working-time-title {
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 14.3px;
  letter-spacing: 0px;
  font-weight: 400;
  color: #FFFFFF;
}

.navbar .support-phone, .navbar .working-time-hours {
  font-family: "Hind", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #FFFFFF;
}

.navbar .quote-button span {
  font-family: "Hind", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.32em;
  letter-spacing: 0.7px;
}

.navbar .quote-button i {
  color: #FFFFFF;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
}



.navbar .quote-button {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400px;
  line-height: 24.65px;
  padding: 13.5px 29px 11.5px 29px;
  background-color: #FFC704;
}

.navbar .quote-button i {
  color: #FFFFFF;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
}


@media (max-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .navbar {
    position: relative;
    padding: 20px 15px;
  }

  .desktop-menu {
    display: none;
    /* Hide desktop menu on mobile */
  }

  .hamburger {
    display: block;
    /* Show hamburger menu */
  }

  .mobile-menu.active {
    display: flex;
  }
}