.social-links {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.social-links a {
  color: black;
}

.social-links span {
  padding: 0px 9px;
}

.social-links span:last-child {
  padding-right: 0;
}

.social-links a:hover {
  color: #ffc704;
}

.social-links i {
  font-size: 17px;
  width: 1em;
  height: 1em;
  font-weight: 400;
}

@media (max-width: 768px) {
  .social-links span {
    padding: 0px 20px;
  }
}
