<!-- Navbar -->

<nav>
  <!-- Container -->
  <div>
    <a href="#logo">Civil Engineering</a>
    <div>
      <ul>

        <!-- Home Link -->
        <li>
          <a aria-current="page" routerLink="/home">Home</a>
        </li>

        <!-- About Link -->
        <li>
          <a routerLink="/about">About</a>
        </li>

        <!-- Services Dropdown -->
        <li>
          <a aria-current="page" routerLink="/services">Services</a>
        </li>

        <!-- Projects Dropdown -->
        <li>
          <a aria-current="page" routerLink="/projects">Projects</a>
        </li>

        <!-- Contact Link -->
        <li>
          <a routerLink="/contact">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<router-outlet />