*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: block;
  float: none;
  line-height: 24.65px;
  position: static;
  z-index: auto;
  margin: 0;
  font-family: "Open Sans", Sans-serif;
}

/* Fonts */
@font-face {
  font-family: "Open Sans";
  src: url('assets/fonts/OpenSans/OpenSans-VariableFont.ttf') format('truetype'); /* Add other formats if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url('assets/fonts/Hind/Hind-Regular.ttf') format('truetype'); /* Add other formats if needed */
  font-weight: normal;
  font-style: normal;
}

/* Colors */
:root {
  --primary-color: #ffc704;
  --secondary-color: #222931;
  --white-color: #ffffff;
  --header-bg-color: #00274e;
  --text-muted: #6B7280;
}

/* Utility classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}